/1_0_Making_maps.pbix
/1_1_Your_First_Viz.pbix
/1_2_Add_a_Card.pbix
/1_3_Slicers.pbix
/1_4_More_Columns.pbix
/1_5_Table.pbix
/2_1_Transform_Load.pbix
/2_2_Field_Agg.pbix
/2_3_Transforming_Columns.pbix
/2_4_Format_Currency.pbix
/2_5_Making_maps.pbix
/3_1_Changing_Visuals.pbix
/3_2_Editing_Properties.pbix
/3_3_Sorting_Data.pbix
/3_4_Using_The_Slicer.pbix
/3_5_Making_It_Look_Good.pbix
/4_1_Looking_At_The_Data.pbix
/4_2_Creating_A_Hierarchy.pbix
/4_3_Adding_A_Filter.pbix
/4_4_Turning_Off_Interactions.pbix
/4_5_Applying_Advanced_Filtering.pbix
/assigment bi.pbix
/debug.log